:root {
    --color-black: black;
    --color-white: #FFFF;
    --color-off-white: #F5F3F4;
    --color-gray-01: #333;
    --color-gray-02: #AAA;
    --color-gray-03: #6e6d6d;
    --color-gray-04: #F0EFED;
    --color-gray-05: #a3a3a3;
    --color-gray-06: #484848;
    --color-green-01: #48b48a;
}

* {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: 'Inter', Arial, sans-serif;
    box-sizing: border-box;
}


.header {
    background-color: var(--color-black);
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 194px;
}

.header-infos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    min-height: 54px;
}

.header-infos hr {
    height: 16px;
    width: 1px;
    margin-top: 12px;
    background-color: var(--color-gray-06);
    border: 0;
}

.header-infos p {
    color: var(--color-gray-05);
    font-size: 13px;
}

.divider { 
    height: 1px;
    width: 100%;
    background-color: var(--color-gray-01);
    margin: 0;
}

.search-area {
    display: flex;
    min-height: 85px;
    align-items: center;
    padding: 25px 95px;
    width: 100%;
    position: relative;
}

.search-container {
    display: flex;
    align-items: center;
    border: 1px solid var(--color-gray-01);
    background-color: var(--color-black);
    margin-right: auto;
}

.search-input {
    border: none;
    padding: 5px 10px;
    width: 295px;
    outline: none;
    background-color: var(--color-black);
    color: var(--color-white);
}

.search-input::placeholder {
    color: var(--color-gray-02);
}

.search-button {
    border: none;
    background: none;
    cursor: pointer;
    padding: 10px;
}

.logo-container {
    position: absolute;
    left: 49%;
}

.logo {
    height: 54px;
    width: auto;
}

.icon-container {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-right: 10px;
    position: relative;
}

.searchIcon {
    height: 12px;
    width: auto;
}

.icon {
    height: 23px;
    cursor: pointer;
    width: auto; 
}

.cart-bullet {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: var(--color-white);
    color: var(--color-black);
    border-radius: 10px;
    height: 15px;
    width: 15px;
    right: -7px;
    top: -2px;
    font-size: 8px;
}

.menu {
    width: 100%;
    background-color: var(--color-black);
    padding-top: 0;
    min-height: 50px;
    padding-left: 15px;
}

.menu-list {
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    list-style: none;
}

.menu-item {
    color: var(--color-white);
    cursor: pointer;
    display: flex;
    position: relative;
    border-bottom: 1px solid transparent;
    transition: 0.3s;
}

.menu-item img {
    height: 7px;
}

.arrowDownMenu {
    height: 5px;
    width: 10px;
    margin-top: 22px;
    margin-left: 5px;
}

.menu-item h4 {
    font-size: small;
}

.menu-item:hover {
    border-bottom: 1px solid var(--color-white);
}

.hamburger-icon-all-store {
    height: 10px;
}

.hamburger {
    display: none;
}

.heart-mobile {
    display: none;
}

.search-mobile-container {
    display: none;
}

.banner {
    width: 100%;
    height: 700px;
    background-image: url('assets/banner/background.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    color: var(--color-white);
}

.banner-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15rem;
    padding-right: 10rem;
}

.banner-text-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1px;
}

.banner-text-content h1,
.banner-text-content p,
.buttonSlider {
    margin: 0;
    padding: 0;
}

.banner-text-content h1 {
    font-size: 3rem;
}

.buttonSlider {
    color: var(--color-white);
    background: linear-gradient(15deg, var(--color-gray-01),var(--color-black));
    width: 150px;
    height: 50px;
    border: none;
    margin-top: 25px !important;
    cursor: pointer;
    transition: transform 0.5s ease;
}

.buttonSlider:hover {
    transform: scale(1.05); 
}

.image-content {
    display: flex;
    align-items: center;
    padding-top: 180px;
}

.banner-logo-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    height: 60px;
}

.categories-section {
    padding-left: 10rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.recommended-section {
    padding-left: 10rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.categories-slider-wrapper {
    position: relative;
    overflow: visible;
    max-width: 100%;
}

.recommended-slider-wrapper {
    position: relative;
    overflow: visible;
    max-width: 100%;
}

.categories-slider {
    display: flex;
    gap: 40px;
    scroll-behavior: smooth;
    overflow-x: auto;
    scrollbar-width: none;
}

.recommended-slider {
    display: flex;
    gap: 40px;
    scroll-behavior: smooth;
    overflow-x: auto;
    scrollbar-width: none;
}

.glasses-slider {
    display: flex;
    gap: 40px;
    scroll-behavior: smooth;
    overflow-x: auto;
    scrollbar-width: none;
}

.perfume-slider {
    display: flex;
    gap: 40px;
    scroll-behavior: smooth;
    overflow-x: auto;
    scrollbar-width: none;
}

.acessories-slider {
    display: flex;
    gap: 40px;
    scroll-behavior: smooth;
    overflow-x: auto;
    scrollbar-width: none;
}

.slider-nav {
    position: absolute;
    top: 50%;
    background-color: var(--color-black);
    color: var(--color-white);
    border: none;
    cursor: pointer;
    padding: 10px;
    width: 50px;
    height: 50px;
    z-index: 1;
}

.slider-nav.left {
    left: -25px;
}

.slider-nav.right {
    right: 25px;
}

.recommended-nav {
    position: absolute;
    top: 50%;
    background-color: var(--color-black);
    color: var(--color-white);
    border: none;
    cursor: pointer;
    padding: 10px;
    width: 50px;
    height: 50px;
    z-index: 1;
}

.recommended-nav.left {
    left: -25px;
}

.recommended-nav.right {
    right: 25px;
}

.glasses-nav {
    position: absolute;
    top: 50%;
    background-color: var(--color-black);
    color: var(--color-white);
    border: none;
    cursor: pointer;
    padding: 10px;
    width: 50px;
    height: 50px;
    z-index: 1;
}

.glasses-nav.left {
    left: -25px;
}

.glasses-nav.right {
    right: 25px;
}

.perfume-nav {
    position: absolute;
    top: 50%;
    background-color: var(--color-black);
    color: var(--color-white);
    border: none;
    cursor: pointer;
    padding: 10px;
    width: 50px;
    height: 50px;
    z-index: 1;
}

.perfume-nav.left {
    left: -25px;
}

.perfume-nav.right {
    right: 25px;
}

.acessories-nav {
    position: absolute;
    top: 35%;
    background-color: var(--color-black);
    color: var(--color-white);
    border: none;
    cursor: pointer;
    padding: 10px;
    width: 50px;
    height: 50px;
    z-index: 1;
}

.acessories-nav.left {
    left: 25px;
}

.acessories-nav.right {
    right: 25px;
}

.categories-slider-item {
    position: relative;
}

.categories-image-container {
    position: relative;
    overflow: hidden;
}

.categories-image-container img {
    transition: transform 0.3s ease;
}

.categories-image-container:hover img {
    transform: scale(1.1);
}

.recommended-slider-item {
    position: relative;
}

.recommended-image-container {
    position: relative;
    max-height: 500px;
    overflow: hidden;
    cursor: pointer;
}

.glasses-image-container {
    position: relative;
    max-height: 400px;
    overflow: hidden;
    cursor: pointer;
}

.product-image img {
    transition: transform 0.3s ease;
}

.product-image:hover img {
    transform: scale(1.1);
}


.buttonBuyNow {
    color: var(--color-white);
    background-color: var(--color-black);
    cursor: pointer;
    width: 150px;
    height: 50px;
    border: none;
    margin-top: 25px !important;
    position: absolute;
    bottom: 5px;
    right: 1px;
    transition: transform 0.5s ease;
}

.buttonBuyNow:hover {
    transform: scale(1.05); 
    margin-right: 3px;
}


.categories-text {
    cursor: pointer;
}

.brand-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
    overflow: hidden;
    transition: transform 1.0s ease;
}

.brand-container:hover {
    transform: scale(0.99); 
}

.lacoste-section {
    background-image: url('assets/lacoste/lacosteShoeDesktop.png');
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding-right: 25rem;
}

.lacoste-container-mobile {
    display: none
}

.products-text {
    color: var(--color-gray-03);
    margin-bottom: 0px;
    cursor: pointer;
}

.acessories-price-text {
    color: var(--color-white);
}

.products-texts-container {
   display: flex;
   flex-direction: column;
}

.products-texts-container > * {
    margin-bottom: -15px;
}

.products-price-cut {
    text-decoration: line-through;
    cursor:auto;
}

.products-pix-price {
    color: var(--color-green-01)
}

.products-prices {
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-top: 1px;
}

.products-price-text {
    color: var(--color-black);
}

.products-small-texts {
    font-size: 12px;
    color: var(--color-gray-03);
}

.installment-price-container {
    padding-top: 8px;
}

.tag-container {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    z-index: 1;
}

.like-container {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    z-index: 1;
}

.like-button {
    background: none;
    border: none;
    padding: 0;   
    cursor: pointer;
    margin: 0;     
}

.tag {
    background-color: var(--color-black);
    color: var(--color-white);
    padding: 5px 10px;
    border-radius: 1px;
    font-size: 12px;
}

.launch-tag {
    background-color: var(--color-black);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: var(--color-gray-02);
    cursor: pointer;
}

.discount-tag {
    background-color: var(--color-green-01);
    cursor: pointer;
}

.sneakers-shop-section {
    display: flex;
    height: 500px; 
}

.sneakers-shop-content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50%;
}

.sneakers-shop-content p{
    font-size: 17px;
}

.sneakers-left-side {
    flex: 1;
    background-image: url('assets/sneakers-shop/sneakersShopFirstBackground.png');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-black)
}

.sneakers-right-side {
    flex: 1;
    background-image: url('assets/sneakers-shop/sneakersShopSecondBackground.png');
    background-size: cover;
}

.sneakers-text-content-mobile {
    display: none;
}

.accessories-section {
    height: 800px;
    background-color: var(--color-black);
    color: var(--color-white);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.accessories-section h1 {
    font-size: 3rem;
}

.acessories-title-container {
    flex: 1;
    max-width: 40%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.acessories-slide-container {
    flex: 2;
    padding: 20px;
    max-width: 60%;
}

.tatuape-conceito-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 50px;
}

.tatuape-logo {
    padding-bottom: 20px;
}

.tatuape-conceito-section p {
    color: var(--color-gray-03);
    font-size: 15px;
}

.tatuape-logo-container {
    max-width: 1100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    word-wrap: break-word;
}

.newsletter-section {
    height: 400px;
    display: flex;
    color: var(--color-white);
    background-color: var(--color-black);
    align-items: center;
    justify-content: center;
}

.newsletter-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.newsletter-input {
    background: none;
    border: none;
    border-bottom: 1px solid var(--color-gray-02);
    color: white;
    font-size: 16px;
    width: 600px;
    padding: 10px 0;
    margin: 15px 0;
    text-align: center;
    outline: none;
}

.custom-checkbox {
    width: 18px;
    height: 18px;
    display: inline-block;
    margin-right: 8px;
}

.checkbox-container {
    display: flex;
    align-items: center;
    color: var(--color-gray-03);
    font-size: 14px;
    cursor: pointer;
    padding-bottom: 25px;
}

.newsletter-button {
    width: 130px;
    padding: 10px;
}

.footer {
    background-color: var(--color-off-white);
    color: var(--color-black);
    padding: 20px 0;
}

.footer-container {
    max-width: 1200px;
    padding-top: 40px;
    padding-bottom: 80px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-column {
    flex: 1;
    padding: 10px;
    padding-right: 50px;
    width: 30px;
}


.footer-column h3 {
    margin-top: 0;
}

.footer-column ul {
    list-style-type: none;
    padding: 0;
}

.footer-bottom p {
    font-size: 10px;
}

.footer-decoration-text  {
    text-decoration: line-through;
    font-size: 12px;
}

.footer-column a {
    color: var(--color-gray-03);
    text-decoration: none;
}

.footer-column p {
    color: var(--color-gray-03);
}

.footer-column a:hover {
    text-decoration: underline;
}

.footer-bottom {
   text-align: center;
   padding-bottom: 30px;
}

.footer-bottom p {
    margin: 5px 0;
}

.payment-icons {
    width: 30px;
}

.collab-section {
    display: flex;
    height: 600px;
}

.collab-left-side {
    flex: 1;
    background-image: url('assets/collab-mc-daniel/mcDaniel.png');
    background-size: cover;
    background-position: center;
}

.collab-right-side {
    flex: 1; 
    background-color: var(--color-off-white);
}

.collab-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-right: 16rem;
    padding-left: 16rem;
    padding-top: 13rem;
}

.collab-content h1,
.collab-content p {
    margin: 0;
    padding: 0;
}

.collab-content h1 {
    font-size: 3rem;
}

.collab-mobile {
    display: none;
}

.evaluation-section {
    padding: 40px;
}

.evaluation-list {
    display: flex;
    flex-direction: row;
    align-items: start;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
}

.evaluation-text-title {
    padding-left: 50px;
}

.evaluation-subtitle  {
    color: var(--color-gray-03);
    font-size: 20px;
}

.evaluation {
    margin: 10px;
    width: 300px;
}

.evaluation p {
    font-size: 13px;
    color: var(--color-gray-03);
}

.evaluation h3 {
    font-size: 15px;
}

.acessories-slider {
    display: flex;
    gap: 40px;
    scroll-behavior: smooth;
    overflow-x: auto;
    scrollbar-width: none;
}

.acessories-nav {
    position: absolute;
    top: 35%;
    background-color: var(--color-black);
    color: var(--color-white);
    border: none;
    cursor: pointer;
    padding: 10px;
    width: 50px;
    height: 50px;
    z-index: 1;
}


.acessories-nav.left {
    left: 25px;
}

.acessories-nav.right {
    right: 25px;
}

.header-infos-show-mobile {
    display: none;
}

.header-infos-desktop {
    display: flex;
    gap: 10px;
}

@media (max-width: 1700px) {
    .banner-content {
        padding-right: 3rem;
        padding-left: 10rem;
    }
}

@media (max-width: 1840px) {
    .lacoste-section {
        padding-right: 10rem;
    }
}

@media (max-width: 1530px) {
    .image-content {
        display: none;
    }

    .lacoste-section {
        padding-right: 2rem;
    }
}

@media (max-width: 1025px) {
    .brand-container {
        overflow-x: auto;
        scroll-behavior: smooth;
        scrollbar-width: none;
    }
}

@media (max-width: 900px) {

    .collab-image-mobile {
        flex: 1;
        background-image: url('assets/collab-mc-daniel/mcDaniel.png');
        background-size: cover;
        background-position: center;
    }

    .collab-mobile {
        display: flex;
        flex-direction: column;
        height: 700px;
    }

    .evaluation-mobile-none {
        display: none;
    }

    .collab-content-mobile {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        padding-right: 1rem;
        padding-left: 1rem;
    }

    .collab-content-mobile h1,
    .collab-content-mobile p {
            margin: 0;
            padding: 0;
        }

    .collab-content-mobile h1 {
            font-size: 3rem;
        }

    .collab-left-side  {
        display: none;
    }

    .collab-right-side {
        display: none;
    }

    .footer-container {
        flex-direction: column; 
        align-items: center; 
        padding-left: 20px;
    }

    .footer-column {
        width: 100%; 
        padding: 10px 0; 

    }

    .footer-bottom {
        padding-right: 10px;
        padding-left: 10px;
    }

    .footer-bottom p {
        font-size: 12px;
    }

    .payment-icons {
        width: 50px;
    }

    .newsletter-input {
        width: 350px;
    }

    .tatuape-logo-container {
        padding-right: 40px;
        padding-left: 40px;
    }

    .accessories-section {
        display: flex;
        flex-direction: column;
        height: 650px;
        padding-top: 30px;
        padding-bottom: 60px;
    }

    .acessories-title-container{
        padding-left: 10px;
        max-width: 95%;
    }

    .breakLine {
        display: none;
    }

    .acessories-slide-container {
        padding: 1px;
        max-width: 90%;
    }

    .accessories-section h1 {
        font-size: 21px;
    }

    .sneakers-shop-section {
        display: none;
    }

    .sneakers-text-content-mobile {
        display: flex;
        flex-direction: column;
        height: 700px;
    }
    
    .sneakers-up-side {
        flex: 1;
        background-image: url('assets/sneakers-shop/sneakersShopSecondBackground.png');
        background-size: cover;
        background-position: center;
    }
    
    .sneakers-down-side {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 40px 30px;
    }

    .lacoste-section {
        background-image: url('assets/lacoste/lacosteShoeMobile.png');
        background-size: cover;
        background-position: center;
        height: 240px;
        padding-right: 1rem;
    }

    .banner-logo-container img {
        height: 50px;
        padding-left: 10px;
    }

    .lacoste-container {
        display: none;
    }

    .lacoste-container-mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5rem;
        height: 300px;
    }

    .lacoste-container-mobile h1 {
        font-size: 30px;
        padding-top: 1rem;
    }

    .lacoste-container-mobile img {
        height: 50px;
        padding-left: 20px;
    }

    .categories-section {
        padding-left: 3rem;
        padding-top: 0;
    }

    .recommended-section {
        padding-left: 3rem;
        padding-top: 0;
    }

    .brand-container {
        display: inline-block;
        overflow-x: auto;
        scroll-behavior: smooth;
        width: 100vw;
        margin-bottom: 0;
    }
    
    .brand-container img {
        display: inline-block;
        width: auto;
        min-width: 100%;
        height: auto; 
    }

    .banner {
        height: 500px;
    }

    .banner-content {
        padding: 60px;
    }

    .search-area {
        padding: 20px 20px;
        margin-right: 10px;
    }

    .search-mobile-container {
        display: flex;
        align-items: center;
        gap: 10px;
        background-color: var(--color-white);
        padding-right: 36px;
        padding-left: 22px;
        width: 100%;
        color: var(--color-black);
        font-weight: bold;
        min-height: 55px;
    }

    .cart-bullet {
        height: 20px;
        width: 20px;
        right: -10px;
    }

    .cart-bullet p {
        font-size: 10px;
    }

    .search-mobile-container p {
        font-size: 15px;
    }

    .search-button {
        padding: 0px;
        margin-top: 5px;
    }

    .icon {
        height: 25px;
    }

    .heart-icon {
        height: 25px;
    }

    .search-input-mobile {
        border: none;
        outline: none;
        background-color: var(--color-white);
        color: var(--color-black);
        flex-grow: 1;
        padding: 5px;
    }

    .search-input-mobile::placeholder {
        color: var(--color-gray-02);;
        padding-left: 60px;
    }

    .divider {
        display: none;
    }

    .header-infos-desktop {
        display: none;
    }

    .header-infos {
        margin-left: 10px;
        margin-right: 10px;
    }

    .header-infos-show-mobile {
        display: flex;
        flex-direction: row;
        gap: 90px;
        align-items: center;
        justify-content: space-between;
    }

    .search-container {
        display: none;
    }

    .hamburger {
        display: flex;
        cursor: pointer;
        height: 23px;
        padding-right: 10px;
        padding-left: 10px;
    }

    .icon-container {
        display: flex;
        align-items: center;
        gap: 25px;
        position: absolute;
        right: 20px;
    }

    .logo-container {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .heart-icon {
        display: none;
    }

    .heart-mobile {
        display: flex;
    }

    .heart-mobile .icon {
        width: 32px;
    }

    .menu {
        min-height: 3px;
        position: relative;
    }

    .menu-list {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 1px;
        left: 0;
        right: 0;
        background-color: var(--color-black);
        z-index: 10;
    }

    .arrowDownMenu {
        display: none;
    }

    .menu-list.show {
        display: flex;
    }

    .menu-list:not(.show) {
        display: none;
    }

    .hamburger-icon-all-store {
        display: none;
    }
    
    .logo {
        height: 43px;
    }

    .menu-item {
        left: 1rem;
    }
    
    .menu-item:hover {
        border-bottom: 0;
    }
}
